.remove-input{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 1px;
    right: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
i{
    font-size: 28px;
    color: #b0b0b0;
}
